@media screen and (max-width:768px)
{
    
    html{
        scroll-behavior: smooth;
    }
    .conteneurBodyone{
        display: none;
    }
    body{
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        box-shadow: 0px 0px 5px;
        height: 7vh;
        position: fixed;
        width: 100%;
    }
    .logo > a{
        font: 1.5em sans-serif;
        padding-left: 10px;
        color: #00b034;
    }
    /************************************************ MAIN *********************************************/
    main{
        padding: 20px;
    }
    /*********************************************** MENU ****************************************/
    #hamburger-content{
        display: none;
    }
    #hamburger-button, #hamburger-sidebar,
    .hamburger-activated  #hamburger-overlay{
        display: block;
    }
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0);
    }
    /***************************************************** BANNER **********************************************/
    .banner{
        height: 15vh;
        width: 100%;
        background: black;
    }
    .titleBanner{
        font: 1em sans-serif;
        display: flex;
        flex-direction: column;
    }
    .titleBanner > span:first-child{
        font-size: 16px;
        color: #fff;
    }
    .titleBanner > span:nth-child(2){
        font-size: 15px;
        color: #fff;
    }
    .titleBanner > ul{
        list-style: none;
    }
    .ulTitle li > a{
        text-decoration: none;
        color: white;
    }
    .conteneurBanner{
        margin: 45px 0 0;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ulTitle li{
        content: '';
        height: 24px;
        
    }
    /******************************************* BODY TWO *************************************/
    .title-section{
        justify-content: space-between;
        display: flex;
        width: 100%;
        align-items: center;
    }
    .title-section h1{
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0;
        color: #333333;
    }
    .title-section .bg-color{
        height: 5px;
        width: 180px;
        background: #00b034;
    }
    .articleTwo > div{
        height: 100%;
        width: 150px;
    }
    .articleTwo > div:nth-child(2){
        height: 100%;
        width: 150px;
    }
    .articleOne{
        display: flex;
        width: auto;
        height: 50%;
        /* background: wheat; */
        justify-content: center;
        align-items: center;
    }
    /********************************************************* IMG BODY TWO ************************************/
    #bodyTwo{
        max-width: 100%;
    }
    .articleTwo{
        display: flex;
        width: auto;
        height: 50%;
        justify-content: space-around;
        align-items: center;
    }
    .bodyTworigth > div{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 22vh;
        width: 100%;
    }
    .h-One{
        width: 55%;
    }
    a{
        text-decoration: none;
    }
    .imgArticle{
        height: 100%;
        width: 40%;
    }
    aside{
        font: 1.2em serif;
        margin: 0;
        width: 100%;
        height: 10vh;
        overflow: hidden;
        color: #333333;
    }
    h4{   
        font: 1em sans-serif;
        margin-top: 17px;
        margin-bottom: 0;    
        width: 100%;
        height: 10vh;
        overflow: hidden;
        color: #00b034;
    }
    /**************************************** PARTIE STARTUP *****************************************/
    #Mapar{
        background: black;
        font: 1.1em sans-serif;
        height: 80vh;
        text-align: center;
        color: white;
        padding: 10px;
    }
    .presentationMapar > a:first-child{
        max-width: 100%;
        border-bottom: 3px solid #00b034;
    }
    a:first-child h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
    }
    .presentationMapar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .presentation-statup{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .presentation-statup > div:first-child{
        margin-top: 25px;
        width: 50%;
    }
    .presentation-statup > div:nth-child(2){
        width: auto;
    }
    .presentation-statup > div:nth-child(3){
        margin-top: 25px;
        width: auto;
    }
    .button a{
        color: black;
        font-weight: 900;
        padding: 20px;
        background-color: #00b034;
        
    }
    .button a::after{
        content: '';
        line-height: 1;
        vertical-align: middle;
        height: 25px;
        width: 25px;
        display: inline-block;
        margin-left: 5px;
        font: normal normal normal 24px/1 mdi;
        font-size: inherit;
        text-rendering: auto;
    }
    .button a::after{
        background-image: url('../img/arrows.svg');

    }
    /* FOOTER */
    #footer{
        width: 100%;
        height: auto;
        background: black;
    }
    footer{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .title-footer > h3{
        color: #fff;
    }
    /* bodyTwo */
    img{
        max-width: 100%;
    }

    /* IPHONE 6/7/8 PLUS */
    @media screen and (max-width: 414px)
    {
        aside{
            height: 9vh;
        }
    }
        /* IPHONE 6/7/8 */

    /* IPHONE 5 */
    @media screen and (max-width: 320px)
    {
        aside{
            height: 15vh;
        }
    }
    @media screen and (max-width: 411px)
    {
        aside{
            height: 11vh;
        }
    }
    @media screen and (max-width: 360px)
    {
        aside{
            height: 15vh;
        }
    }            
}
