    html{
        scroll-behavior: smooth;
    }
    body{
        margin: 50px;
        padding: 0;
    }
    /* MENU BURGER */
    #hamburger, #hamburger-content{
        display: inline;
    }
    #hamburger-button{
        display: none;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 22px;
        padding: 0;
        vertical-align: top;
        line-height: 47px;
        float: right;
        margin-right: 32px;
        color: #00b034;
    }
    #hamburger-overlay{
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }
    #hamburger-sidebar{
        display: none;
        position: fixed;
        width: 84%;
        z-index: 20;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffffcf;
        transform: translateX(-100%);
        transition: transform .2s ease-out;
    }
    #hamburger-siderbar li{
        display: block;
    }
    #hamburger-sidebar-header{
        background: url('../img/Sans\ titre-2.jpg') center;
        height: 128px;
        background-size: cover;
    }
    #hamburger-sidebar-body{
        padding: 16px 8px;
    }
    #hamburger-sidebar-body ul{
        list-style: none;
    }
    #hamburger-sidebar-body li::before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        margin-bottom: 4px;
        border: 1px solid;
    }
    #hamburger-sidebar-body li:first-child::before{
        background-image: url('../img/1.jpg');
    }
    #hamburger-sidebar-body li:nth-child(2)::before{
        background-image: url('../img/1.jpg');
    }
    /* BANNER */
    
    

